:root {
  --navy: #0b1c2d;
  --gold: #c9a24d;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: #f5f5f5;
  color: #222;
}

.header {
  background: var(--navy);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: white;
  margin: 0 15px;
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover {
  color: var(--gold);
}


.logo {
  height: 70px;
}

nav a {
  color: var(--white);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--gold);
  left: 0;
  bottom: -5px;
  transition: .3s;
}

nav a:hover::after {
  width: 100%;
}

.lang-switch {
  color: var(--gold);
  cursor: pointer;
  font-weight: bold;
}

.hero-slider {
  height: 85vh;
}

.overlay {
  background: rgba(11,28,45,.75);
  padding: 100px;
}

.overlay h1 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  color: var(--gold);
}

.overlay p {
  font-size: 20px;
  margin-top: 20px;
  max-width: 650px;
}
