:root {
  --navy: #0b1c2d;
  --gold: #c9a24d;
  --white: #ffffff;
  --gray: #f5f5f5;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: var(--gray);
  color: #222;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

/* HEADER */
.header {
  background: var(--navy);
  padding: 15px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
}

.nav a {
  color: var(--white);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  color: var(--gold);
}

/* HERO */
.hero {
  height: 85vh;
  background: url('../images/hero.jpg') center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  background: rgba(11, 28, 45, 0.75);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  color: white;
}

.hero-overlay h1 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  color: var(--gold);
}

.hero-overlay p {
  font-size: 20px;
  margin-top: 20px;
}

/* ABOUT */
.about h2 {
  color: var(--navy);
  margin-bottom: 20px;
}
